/**
 * Font assets. Remember to subset and compress fonts as necessary.
 *
 * [1] Install python FontTools and Brotli via pip: `pip install fonttools brotli`.
 * [2] The following command will subset the Latin and Extended Latin character sets (includes Maltese):
 *
 * ```
 *   pyftsubset font.woff2
 *     --unicodes="0020-007F,00A0-00FF,0100-017F,2070-209F,20A0-20CF"
 *     --layout-features="*"
 *     --flavor="woff2"
 *     --with-zopfli
 * ```
 *
 * Character sets:
 * - Basic Latin: U+0020-U+007F
 * - Latin-1 Supplement: U+00A0-U+00FF
 * - Latin Extended-A: U+0100-U+017F
 * - Superscripts & subscripts: U+2070-U+209F
 * - Currency Symbols: U+20A0-U+20CF
 * - Letterlike Symbols: U+2100-U+214F
 * - Number Forms: U+2150-U+218F
*/

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 400;  // font-weight: 100 900; (setting range on variable font)
  src: url('../assets/fonts/font.woff2') format('woff2');
  font-display: swap;
}
